 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #395983;
active-foreground: #CCDEEB;
normal-background: #121314;
normal-foreground: #CCDEEB;
urgent-background: #6290B1;
urgent-foreground: #CCDEEB;

alternate-active-background: #3E5A6F;
alternate-active-foreground: #CCDEEB;
alternate-normal-background: #121314;
alternate-normal-foreground: #CCDEEB;
alternate-urgent-background: #121314;
alternate-urgent-foreground: #CCDEEB;

selected-active-background: #6290B1;
selected-active-foreground: #CCDEEB;
selected-normal-background: #6290B1;
selected-normal-foreground: #CCDEEB;
selected-urgent-background: #395983;
selected-urgent-foreground: #CCDEEB;

background-color: #121314;
background: rgba(0,0,0,0.7);
foreground: #CCDEEB;
border-color: #395983;

color0: #393A3B;
color1: #0A0E12;
color2: #0F151A;
color3: #2E4454;
color4: #2B4362;
color5: #496C85;
color6: #527995;
color7: #AEC8DB;
color8: #7A8C99;
color9: #0E1318;
color10: #141C23;
color11: #3E5A6F;
color12: #395983;
color13: #6290B1;
color14: #6EA2C7;
color15: #AEC8DB;


}

