 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #565F72;
active-foreground: #EAE7E5;
normal-background: #1F1F21;
normal-foreground: #EAE7E5;
urgent-background: #AEAAAB;
urgent-foreground: #EAE7E5;

alternate-active-background: #565F72;
alternate-active-foreground: #EAE7E5;
alternate-normal-background: #1F1F21;
alternate-normal-foreground: #EAE7E5;
alternate-urgent-background: #1F1F21;
alternate-urgent-foreground: #EAE7E5;

selected-active-background: #AEAAAB;
selected-active-foreground: #EAE7E5;
selected-normal-background: #AEAAAB;
selected-normal-foreground: #EAE7E5;
selected-urgent-background: #565F72;
selected-urgent-foreground: #EAE7E5;

background-color: #1F1F21;
background: rgba(0,0,0,0.7);
foreground: #EAE7E5;
border-color: #565F72;

color0: #464648;
color1: #404756;
color2: #404756;
color3: #404756;
color4: #414856;
color5: #828080;
color6: #928B88;
color7: #D8D4D1;
color8: #979493;
color9: #565F72;
color10: #565F72;
color11: #565F72;
color12: #565F72;
color13: #AEAAAB;
color14: #C2B9B5;
color15: #D8D4D1;


}

